.home {

  &__pr {
    margin-bottom: $spacer-xxl;

    @include media-breakpoint-down('sm') {
      border-top: 2px solid $body-color;
      padding-top: $spacer-xl;
    }

    &__panel {

      &__content {
        max-width: $page-max-width;
      }
    }
  }
}
