.home {

  &__jumbotron {
    border-top: currentColor solid 2px;
    min-height: 80vh;
    background: $primary;
    color: #fff;

    &__punchline {
      text-align: right;
    }

    &__link {
      padding: 0;
      min-height: 70%;
      background: #fff url('../images/laurent ruquier.jpg') no-repeat center center;
      background-size: contain;
      display: flex;
      position: relative;

      &, &:hover {
        text-decoration: none;
      }

      &__button {
        font-family: $headings-font-family;
        font-weight: bold;
        align-self: end;

        transition: 300ms;
        box-shadow: 0 0 0 0 $dark;

        &:hover {
          text-decoration: none;
          transform: translate(1rem, -1rem);
          box-shadow: -1rem 1rem 0 0 $dark;
        }
      }
    }
  }
}
