.home {

  &__ajl {
    min-height: 60vh;

    @include media-breakpoint-down('sm') {
      min-height: 0;
      margin: $spacer-xl 0;
    }

    &__button {
      font-family: $headings-font-family;
      font-weight: bold;
      transition: 300ms;
      box-shadow: 0 0 0 0 $primary;

      &:hover {
        text-decoration: none;
        transform: translate(-1rem, -1rem);
        box-shadow: 1rem 1rem 0 0 $primary;
      }
    }

    &__link {

      &__logo {
        max-width: 250px;

        @include media-breakpoint-down('md') {
          max-width: 200px;
        }

        @include media-breakpoint-down('sm') {
          max-width: 100px;
          margin: $spacer-xl 0;
        }
      }
    }
  }
}
