.home {

  &__chapters {
    padding: 0;
    margin-bottom: $spacer-xl;
    font-size: 1rem;

    &__panel {
      border-top: 2px currentColor solid;
      border-bottom: 2px currentColor solid;
      padding: 0;

      &__interviews {
        max-width: $page-max-width;
        margin: 0 auto;
        height: 100%;

        @include media-breakpoint-down('md') {
          max-width: 100%;
        }

        &__list {
          display: flex;
          height: 100%;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 0;
          min-height: 250px;

          @include media-breakpoint-down('md') {
            flex-direction: row;
            margin-right: -$spacer-xl;
          }

          @include media-breakpoint-down('xs') {
            margin-right: 0;
          }

          &__item {
            background: mix($primary, #fff);
            border: 2px solid $primary;
            color: #000;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            box-shadow: 0 0 0 0 $dark;
            margin-bottom: $spacer-lg;
            position: relative;
            overflow: hidden;
            transition: transform 300ms, box-shadow 300ms;

            @include media-breakpoint-down('md') {
              max-width: calc(50% - #{$spacer-xl});
              margin-right: $spacer-xl;
              margin-bottom: 0;
            }

            @include media-breakpoint-down('xs') {
              max-width: calc(100% - #{$spacer-xl});
              margin-left: auto;
              margin-right: auto;
              margin-bottom: $spacer-lg;
              min-height: 200px;
            }

            &:last-of-type {
              margin-bottom: 0;
            }

            &:hover {
              text-decoration: none;
              transform: translate(-$spacer, -$spacer);
              box-shadow: $spacer $spacer 0 0 $dark;

              @include media-breakpoint-down('md') {
                box-shadow: $spacer-xs $spacer-xs 0 0 $dark;
                transform: translate(-$spacer-xs, -$spacer-xs);
              }
            }

            &__title {
              margin: 0;
              margin-top: auto;
              color: white;
              text-shadow: 1px 1px 0 $primary, 0 2px 0 $primary,
                          -1px 1px 0 $primary,
                          1px -1px 0 $primary,
                          -1px -1px 0 $primary;
            }

            &__excerpt {
              background: $primary;
              color: #fff;
              margin: 0;
            }

            &__title, &__excerpt {
              padding: $spacer;
              position: relative;
              z-index: 50;
            }

            &__thumbnail {
              z-index: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              min-width: 100%;
              min-height: 100%;
              height: auto;
            }
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;

        &__item {
          padding: $spacer-lg 0;
          border-bottom: 2px currentColor solid;

          @include media-breakpoint-down('xs') {
            padding: $spacer-lg;
          }

          &:hover {
            text-decoration: none;

            * {
              color: $primary;
            }
          }

          &__title {
            display: inline-block;
          }

          &:last-of-type {
            flex-grow: 1;
            border-bottom: 0;
            margin-bottom: 0;
          }

          &__excerpt {
            margin-bottom: 0;
            font-size: italic;
          }

          &__thumbnail {
            width: 100%;
            max-width: 70px;
            max-height: 44px;
            overflow: hidden;
            margin-left: $spacer;
            text-align: center;

            &__image {
              background: $light;
              width: auto;
              height: 100%;
              border: 0;
            }
          }
        }
      }
    }
  }
}
