.next-study-chapter {
  background: mix($primary, white);
  border-top: 2px solid $primary;
  margin: $spacer-xl -0.5 * $grid-gutter-width 0;

  &__container {
    width: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $spacer-xl 0 $spacer-xxl;
    position: relative;

    @include media-breakpoint-down('sm') {
      max-width: calc(100% - #{$spacer * 2});
    }

    &__heading {
      font-size: 1rem;
      margin-bottom: 0;
      padding-bottom: $spacer-xs;
      position: absolute;
      bottom: 100%;
      left: 0;
      color: $primary;
    }

    &__link {
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &:hover &__thumbnail {
        transform: translate(-$spacer, -$spacer);
        box-shadow: $spacer $spacer 0 0 $dark;

        @include media-breakpoint-down('md') {
          transform: translate(-$spacer-xs, -$spacer-xs);
          box-shadow: $spacer-xs $spacer-xs 0 0 $dark;
        }
      }

      &__thumbnail {
        border: 2px solid $primary;
        margin-right: $spacer-xl;
        background: white;
        transition: 300ms;
        box-shadow: 0 0 0 0 $dark;

        @include media-breakpoint-down('sm') {
          max-width: 90px;
          height: auto;
          margin-right: $spacer;
        }

        @include media-breakpoint-down('xs') {
          display: none;
        }
      }

      &__title {
        font-size: $h2-font-size;
        text-shadow: 1px 1px 0 $primary, 0 2px 0 $primary,
                    -1px 1px 0 $primary,
                    1px -1px 0 $primary,
                    -1px -1px 0 $primary;
      }

      &__arrow {
        font-size: 40px;
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 100%;
        right: 0;
      }
    }
  }
}
