.home {

  &__jumbotron {
    border-top: currentColor solid 2px;
    min-height: 80vh;
    background: $primary;
    color: #fff;

    &__punchline {
      text-align: right;
    }

    &__link {
      padding: 0;
      min-height: 70%;
      background: #fff;
      display: flex;
      position: relative;

      &, &:hover {
        text-decoration: none;
      }

      &:after {
        content: "un visuel ici car les gens aiment les visuels";
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-variant: small-caps;
        opacity: 0.5;
        font-style: italic;
      }

      &__button {
        font-family: $headings-font-family;
        font-weight: bold;
        align-self: end;

        transition: 300ms;
        box-shadow: 0 0 0 0 $dark;

        &:hover {
          text-decoration: none;
          transform: translate(1rem, -1rem);
          box-shadow: -1rem 1rem 0 0 $dark;
        }
      }
    }
  }

  &__pr {

    &__panel {

      &__content {
        max-width: $page-max-width;
      }
    }
  }

  &__ajl {
    min-height: 60vh;

    &__button {
      font-family: $headings-font-family;
      font-weight: bold;
      transition: 300ms;
      box-shadow: 0 0 0 0 $primary;

      &:hover {
        text-decoration: none;
        transform: translate(-1rem, -1rem);
        box-shadow: 1rem 1rem 0 0 $primary;
      }
    }

    &__link {

      &__logo {
        max-width: 250px;
      }
    }
  }

  &__interviews {
    height: 100%;

    &__container {
      max-width: $page-max-width;
      margin: 0 auto;
      height: 100%;

      &__list {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;

        &__item {
          background: mix($primary, #fff);
          border: 2px solid $primary;
          color: #000;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          transition: 300ms;
          box-shadow: 0 0 0 0 $dark;
          margin-bottom: $spacer-lg;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:hover {
            text-decoration: none;
            transform: translate(-1rem, -1rem);
            box-shadow: 1rem 1rem 0 0 $dark;
          }

          &__title {
            margin: 0;
            margin-top: auto;
            color: white;
            text-shadow: 1px 1px 0 $primary, 0 2px 0 $primary,
                        -1px 1px 0 $primary,
                        1px -1px 0 $primary,
                        -1px -1px 0 $primary;
          }

          &__excerpt {
            background: $primary;
            color: #fff;
            margin: 0;
          }

          &__title, &__excerpt {
            padding: $spacer;
          }
        }
      }
    }
  }

  &__chapters {
    padding: 0;
    margin-bottom: $spacer-xxl;
    font-size: 1rem;

    &__panel {
      border-top: 2px currentColor solid;
      border-bottom: 2px currentColor solid;
      padding: 0;

      &__list {
        display: flex;
        flex-direction: column;

        &__item {
          padding: $spacer-lg 0;
          border-bottom: 2px currentColor solid;

          &:hover {
            text-decoration: none;

            * {
              color: $primary;
            }
          }

          &__title {
            display: inline-block;
          }

          &:last-of-type {
            flex-grow: 1;
            border-bottom: 0;
            margin-bottom: 0;
          }

          &__excerpt {
            margin-bottom: 0;
            font-size: italic;
          }
        }
      }
    }
  }

  &__methodology {
    padding: $spacer-lg 0;

    &__panel {
      background: $dark;
      color: #fff;
      padding: $spacer-lg $spacer;

      &__figures {
        padding: $spacer-lg 0;

        &__item {
          display: flex;
          flex-direction: column;
          font-weight: bold;

          &__display {
            line-height: 1;
            font-size: 3rem;
            display: block;
            font-family: $headings-font-family;
            color: $primary;
            white-space: nowrap;

            &__emoji {
              position: relative;
              top: -0.1em;
            }
          }
        }
      }
    }
  }
}
