@import '~green-audio-player/dist/css/green-audio-player.min.css';

.page {

  &__header, &__thumbnail, &__content {
    max-width: $page-max-width;
    margin: auto;
  }

  &__header {
    padding: 3rem 0 2rem;

    &__title {
      font-family: $font-family-base;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__meta {
      font-size: $font-size-sm;
      color: $text-muted;

      a {
        color: mix($text-muted, $link-color);
      }

      &__author {

        &__avatar {
          width: 2rem;
          height: 2rem;
          overflow: hidden;
          border-radius: 1rem;
          border:2px solid #fff;
          box-shadow: 0 0 0 2px $body-color;
        }
      }
    }
  }

  &__thumbnail {
    padding-bottom: 2rem;

    &__image {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    &__caption {
      color: $text-muted;
      font-size: $font-size-sm;
      padding: .5rem 0;
      text-align: center;
    }
  }


  &__content {
    min-width: $page-max-width;

    & > h2 {
      font-weight: bolder;
      font-size: $h3-font-size;
      font-family: $font-family-sans-serif;
      padding-top: $spacer-xl;
      padding-bottom: $spacer;
    }

    .wp-block-embed figcaption {
      font-size: 0.7em;
      color: $text-muted;
      text-align: center;
      padding: 0 $spacer-sm;
    }

    .wp-block-embed.wp-has-aspect-ratio {

      .wp-block-embed__wrapper {
        position: relative;
      }

      .wp-block-embed__wrapper:before {
        content: "";
        display: block;
        padding-top: 50%;
      }

      &.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
        padding-top: 56.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .wp-block-pullquote {
      font-style: italic;
      font-family: $font-family-serif;
      border: 0;
      border-color: currentColor;
      padding: 1.5rem 0;
      margin: 0;

      blockquote {
        padding: 1.5rem 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-color: inherit;

        & > p:last-of-type {
          margin-bottom: 0;
        }

        & > cite:last-of-type {
          margin-top: $spacer;
          display: block;
          color: $text-muted;
        }

        &.has-vivid-red-color {
          color: $primary;
        }
      }

    }

    .wp-block-audio {
      $player-height: 100px;
      $player-holder-icon-height: $player-height * 0.4;

      position: relative;
      width: 100%;

      &.green-audio-player {
        border-radius: 0;
        border: 2px solid $primary;
        box-shadow: none;
        color: $body-color;
        box-shadow: $spacer $spacer 0 0 mix($primary, white);
        margin: $spacer-xl 0 $spacer-xxl;
        height: $player-height;
        padding-left: $player-height;
        position: relative;
        line-height: 1;

        audio {
          display: none;
        }

        figcaption {
          position: absolute;
          left: $player-height;
          right: 0;
          top: 50%;
          font-size: 0.7em;
          color: $text-muted;
          text-align: center;
          padding: 0 $spacer-sm;
        }

        .holder {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: $player-height;
          background: $primary;
          color: white;

          .play-pause-btn, .loading {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

          }

          .play-pause-btn svg, .loading__spinner {
            height: $player-holder-icon-height;
            width: $player-holder-icon-height;
          }

          .loading__spinner {
            top: calc(50% - #{$player-holder-icon-height / 2});
            left: calc(50% - #{$player-holder-icon-height / 2});
            border-width: 4px;
            border-color: white;
            border-right-color: transparent;
          }
        }

        .controls {
          color: $text-muted;
        }

        &.wp-block-audio--legend .controls,
        &.wp-block-audio--legend .volume {
          margin-top: -2em;
        }

        .play-pause-btn__icon,
        .volume__speaker {
          fill: currentColor;
        }

        .volume__button.open .volume__speaker {
          fill: $primary;
        }

        .slider {
          background: transparent;
          height: 80px;

          .controls__progress {
            visibility: hidden;

            .pin {
              height: 100%;
              top: 0;
            }
          }

          & > wave {
            position: absolute !important;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            pointer-events: none;

            wave {
              border: 0 !important;
            }
          }
        }

        .slider .gap-progress,
        .volume__progress .gap-progress {
          background: $primary;

          .pin {
            background: inherit;
          }
        }

        .volume__controls {
          border-radius: 0;
        }
      }
    }
  }

  &__sidebar {
    padding: 0 $spacer;
  }
}
