@import '~green-audio-player/dist/css/green-audio-player.min.css';

.page {

  &__header, &__thumbnail, &__content {
    max-width: $page-max-width;
    margin: auto;
  }

  &__header {
    padding: 3rem 0 2rem;

    &__title {
      font-family: $font-family-base;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__meta {
      font-size: $font-size-sm;
      color: $text-muted;

      a {
        color: mix($text-muted, $link-color);
      }

      &__author {

        &__avatar {
          width: 2rem;
          height: 2rem;
          overflow: hidden;
          border-radius: 1rem;
          border:2px solid #fff;
          box-shadow: 0 0 0 2px $body-color;
        }
      }
    }
  }

  &__thumbnail {
    padding-bottom: 2rem;

    &__image {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    &__caption {
      color: $text-muted;
      font-size: $font-size-sm;
      padding: .5rem 0;
      text-align: center;
    }
  }


  &__content {
    min-width: $page-max-width;

    .wp-block-audio {
      position: relative;
      width: 100%;

      &.green-audio-player {
        border-radius: 0;
        border: 2px solid $primary;
        box-shadow: none;
        color: $body-color;
        box-shadow: $spacer $spacer 0 0 rgba($primary, 0.5);
        margin-bottom: $spacer-xl;

        audio, figcaption {
          display: none;
        }

        .controls {
          color: $text-muted;
        }

        .play-pause-btn__icon,
        .volume__speaker {
          fill: currentColor;
        }

        .volume__button.open .volume__speaker {
          fill: $primary;
        }

        .slider {
          background: $gray-400;
        }

        .slider .gap-progress,
        .volume__progress .gap-progress {
          background: $primary;

          .pin {
            background: inherit;
          }
        }

        .volume__controls {
          border-radius: 0;
        }
      }

      figcaption {
        font-size: 1rem;
        color: $text-muted;
        text-align: center;
      }
    }
  }

  &__sidebar {
    padding: 0 $spacer;
  }
}
